<html>
<head>
</head>

<body>

<h1>LOGIN</h1>


    <input type="text" name="username" placeholder="ENTER USERNAME"/>
    <input type="text" name="password" placeholder="ENTER PASSWORD"/>
    <a href="/register">Click Here To Register</a>

    <button id="Submit">Submit</button>


</body>




</html>