<html>

<head>
</head>

<body>

<h1>MOVIES</h1>


    <input type="text" name="title" placeholder="TITLE"/>
    <input type="text" name="description" placeholder="DESCRIPTION"/>
    <input type="text" name="genre" placeholder="GENRE"/>
   

    <button id="Submit">Submit</button>


<ul>
   {{#movies}}
 <li>
       <b> TITLE -{{movie_title}}</b>
 </li>
 <li>
        Description -{{movie_description}}
 </li>
 <li>
        Genre -{{movie_genre}}
 </li>
 
 
   {{/movies}}
</ul>


</body>


</html>