html>
<head>
</head>

<body>

<h1>REGISTRATION</h1>


    <input type="text" name="username" placeholder="CHOOSE A USERNAME"/>
    <input type="text" name="password" placeholder="CHOOSE A PASSWORD"/>
  
   

    <button id="Submit">Submit</button>


</body>




</html>